<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Proyecto2 - PokeAPI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <a routerLink="/login" style="text-decoration: none;">
        <form class="d-flex">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="text-decoration: none;">Logout</button>
        </form>
    </a>
</nav>