
<span class="span justify-content: center">
    <div class="contenedor justify-content: center">
        <div class="card text-white bg-secondary " style="max-width: 40rem;">
            <div class="card-header align-text: center"><h4 class="card-title">Login</h4></div>
            <div class="card-body">
                <form>
                    <div class="form-group " >
                        <label class="form-label mt-1" style="width: 25rem;" >Por favor ingrese sus datos</label>
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                          <label for="floatingInput">Usuario </label>
                        </div>
                        <div class="form-floating">
                          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                          <label for="floatingPassword">Password</label>
                        </div>
                        <a routerLink="/home" style="text-decoration: none;">
                          <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-lg btn-dark" type="button">Ingresar</button>
                         </div>

                        </a>
                        

                      </div>

                </form>

                
                
            </div>
          </div>
        </div>
        <!--<div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
          </div>-->

</span>
